* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

section{
    box-shadow: 0px 5px 5px rgb(75 93 104 / 10%);
    margin: 20px auto;
    border-radius: 50px;
    border: solid #9b69e247 3px;
    padding: 20px;

}
.wrapper {
  width: 80vw;
  margin: auto;
  padding: 20px 0px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #F063B8;
  text-align: center;
}

h2{
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 30px;
line-height: 130%;
text-align: center;
color: #9C69E2;

}

.question{
    background-color: #FDE8F5;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.answer{
background: #F0FAF9;
border-radius: 50px;
padding: 30px;
}

.answer p{
    font-size: 30px;
    font-weight: 700;
    color: darkgreen;
}

p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
}

button {
  width: 200px;
  height: 60px;

  background: #e269ac;
  border: 1px solid #9c69e2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 10px;
  color: white;
  display: block;
  margin: 10px;
}

input{
padding: 10px 20px;
font-size: 30px;

width: 210px;
height: 60px;

background: #FFFFFF;
border: 1px solid #9C69E2;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;
margin: 10px;
}

.container {
  width: 300px;
  height: 18px;
  border: solid black 2px;
  background: #F063B8;
  overflow: hidden;
  margin: 40px auto;
}

.pointer {
  float: right;
  background-color: white;
  height: 100%;
  width: 50%;
}


#circleRadiusResult{
 font-size: 40px;
}